*,
html {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;

  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;

  background-color: #ffffff;
}

/* nav */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 120px;
  background: #F5EFE3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav a {
  color: black; 
}

.left {
  margin-right: auto;
}

.left li .logo {
  height: 55px;
}

.right {
  margin-right: auto;
}

.right li {
  margin-right: 80px;
  font-weight: 500;
  font-size: 15px;
  color: black;
  transition: transform 0.3s ease;

}

.right li:hover {
  color: black;
  cursor: pointer;
  transform: translateY(-3px);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #F5EFE3;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #cacaca;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


/* sampe sini */

/* konten mulai */
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .about-image {
  width: 100%;
  margin-top: 70px;
}

main .about-image img {
  width: 100%;
}

section.profile-perusahaan div h1,
section.sejarah-perusahaan div h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
  font-size: 45px;
}

section.profile-perusahaan .content,
section.sejarah-perusahaan .content {
  display: flex;
  flex-direction: row;
  margin: 45px 85px 102px 60px;
}

section.profile-perusahaan .content aside {
  width: 100%;
  margin-left: 73px;
  margin-right: 50px;
  font-size: 25px;
  text-align: justify;
}

section.sejarah-perusahaan .content .content-deskripsi {
  width: 100%;
  margin-right: 73px;
  margin-left: 50px;
  font-size: 25px;
  text-align: justify;
}

/* konten selesai */

/* footer mulai */
footer {
  background-color: #f1f1f1;
  height: 370px;
  border-bottom: 0.1px solid wheat;
  border-radius: 5px 0;
  width: 100%;
}

.footer-top {
  display: flex;
  flex-direction: row;
  height: 310px;
  border-bottom: 1px solid black;
  margin-left: 100px;
  margin-right: 60px;
}

footer .footer-left {
  width: 350px;
}

footer .footer-left .logo>img {
  width: 100px;
  margin-top: 30px;
}

footer .footer-left .alamat {
  font-size: 15px;
  font-weight: 300;
  text-align: justify;

  margin-top: 10px;
}

footer .footer-left .jam h2 {
  margin-top: 15px;
  font-weight: 600;
}

footer .footer-left .jam p {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 60px;
  font-weight: 300;
}

footer .footer-info,
footer .footer-bantuan,
footer .social {
  width: 280px;
  margin-left: 107px;
}

footer .footer-info h2,
footer .footer-bantuan h2,
footer .social h2 {
  margin-top: 50px;
  font-weight: bold;
}

footer .footer-info .isi-info,
footer .footer-bantuan .isi-bantuan {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

footer .footer-info .isi-info a,
footer .footer-bantuan .isi-bantuan a {
  color: #000000;
  padding-top: 1px;
  /* font-size: x-large; */
}

footer .footer-info .isi-info a:last-child,
footer .footer-bantuan .isi-bantuan a:last-child {
  margin-top: 2px;
}

footer .social .social-media {
  display: flex;
  margin-top: 5px;
  flex-direction: row;
}


footer .social .social-media a {
  font-size: 30px;
  color: #000000;
  margin-right: 27px;
}

footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

/* footer selesai */