/* nav */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #F5EFE3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nav a {
    color: black;
}

.left {
    margin-right: auto;
}

.left li .logo {
    height: 55px;
}

.right {
    margin-right: auto;
}

.right li {
    margin-right: 80px;
    font-weight: 500;
    font-size: 15px;
    color: black;
    transition: transform 0.3s ease;

}

.right li:hover {
    color: black;
    cursor: pointer;
    transform: translateY(-3px);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #F5EFE3;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #cacaca;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* sampe sini */
.product-card {
    max-width: 900px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 20px 0 20px 0;
    margin-top: 120px;
}

.product-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 20px;


}



.product-details {
    margin-left: 20px;

}

.product-title {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 10px;
}

.product-description {
    font-size: 14px;
    color: #555;
}

.whatsapp-button {
    background-color: #25d366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.whatsapp-button img {
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

.whatsapp-button:hover {
    background-color: #128c7e;

}

.cancel-button {
    margin-top: 10px;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin-right: auto;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #F5EFE3;
    color: #000000;
    border-color: #F5EFE3;
}

.testi-comment > .Judul {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.testi-comment > p {
    text-align: center;
}

.wrapper {
    margin-top: 50px;
    margin: 30px auto 60px;
    background: var(--white);
    padding: 2rem;
    max-width: 576px;
    width: 100%;
    border-radius: .75rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    text-align: center;
}

.wrapper h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.wrapper input.input-text {
    border-radius: 20px; /* Atur nilai border-radius sesuai keinginan */
    border: none;
    background: var(--light);
    padding: 1rem;
}

textarea {
    width: 100%;
    background: var(--light);
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    resize: none;
    margin-bottom: .5rem;
    margin-top: 20px;
}

.btn-group {
    display: flex;
    grid-gap: .5rem;
    align-items: center;
}

.btn-group .btn {
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
}

.btn-group .btn.submit {
    background: var(--blue);
    color: var(--white);
}

.btn-group .btn.submit:hover {
    background: var(--blue-d-1);
}

.btn-group .btn.cancel {
    background: var(--white);
    color: var(--blue);
}

.btn-group .btn.cancel:hover {
    background: var(--light);
}

/* footer mulai */
footer {
    background-color: #f1f1f1;
    height: 370px;
    border-bottom: 0.1px solid wheat;
    border-radius: 5px 0;
    width: 100%;
}

.footer-top {
    display: flex;
    flex-direction: row;
    height: 310px;
    border-bottom: 1px solid black;
    margin-left: 100px;
    margin-right: 60px;
}

footer .footer-left {
    width: 350px;
}

footer .footer-left .logo>img {
    width: 100px;
    margin-top: 30px;
}

footer .footer-left .alamat {
    font-size: 15px;
    font-weight: 300;
    text-align: justify;

    margin-top: 10px;
}

footer .footer-left .jam h2 {
    margin-top: 15px;
    font-weight: 600;
}

footer .footer-left .jam p {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 60px;
    font-weight: 300;
}

footer .footer-info,
footer .footer-bantuan,
footer .social {
    width: 280px;
    margin-left: 107px;
}

footer .footer-info h2,
footer .footer-bantuan h2,
footer .social h2 {
    margin-top: 50px;
    font-weight: bold;
}

footer .footer-info .isi-info,
footer .footer-bantuan .isi-bantuan {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

footer .footer-info .isi-info a,
footer .footer-bantuan .isi-bantuan a {
    color: #000000;
    padding-top: 1px;
    /* font-size: x-large; */
}

footer .footer-info .isi-info a:last-child,
footer .footer-bantuan .isi-bantuan a:last-child {
    margin-top: 2px;
}

footer .social .social-media {
    display: flex;
    margin-top: 5px;
    flex-direction: row;
}


footer .social .social-media a {
    font-size: 30px;
    color: #000000;
    margin-right: 27px;
}

footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

/* footer selesai */