<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AJPFurniture</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <!-- js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <!-- Icon -->
  <link rel="shortcut icon" type="image" href="/static/image/logo/Ajp.png">
  <!-- CSS -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <style>
    @import url('static/css/contact.css');
    @import url('static/css/default.css');
  </style>
</head>


<body>
  <!-- Navbar mulai -->
  <div class="nav flex-row">
    <div class="left flex-row">
      <li>
        <img src="/static/image/logo/Ajp.png" alt="Logo" class="logo"/>
      </li>
    </div>
    <div class="right flex-row">
      <li>
        <a href="/">Beranda</a>
      </li>
      <li>
        <a href="about">Tentang Kami</a>
      </li>
      <li>
        <a href="contact">Kontak</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">Kategori</a>
        <ul class="dropdown-menu">
          <li><a href="/produk/kursi">Kursi</a></li>
          <li><a href="/produk/lemari">Lemari</a></li>
          <li><a href="/produk/meja">Meja</a></li>
          <li><a href="/produk/dipan">Dipan</a></li>
          <li><a href="/produk/sofa">Sofa</a></li>
        </ul>
      </li>
      <li>
        <a href="faq">FAQ</a>
      </li>
    </div>
  </div>
  <!-- navbar selesai -->
  <!-- content mulai -->
  <div class="location">
    <p>location</p>
    <div class="container ">
      <div class="gmaps">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.64201892813!2d107.77049337449633!3d-6.933319267866807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68c4a572504bb7%3A0x4507762241966de9!2sAjp%20Furniture!5e0!3m2!1sid!2sid!4v1713779557826!5m2!1sid!2sid"
          width="400" height="400"></iframe>
      </div>
      <div class="content">
        <div class="content-top">
          <p>AJP Furniture</p>
          <p>Melayani Pesan Langsung dan WhatsApp</p>
        </div>
        <div class="content-bot">
          <i class="fas fa-map-marker-alt">&nbsp;&nbsp;Jalan Raya Jatinangor No.135</i>
          <i class="fas fa-phone-alt">&nbsp;&nbsp; 022 7796606</i>
          <i class="fab fa-whatsapp">&nbsp;&nbsp; +62 812-2315-581</i>
          <i class="fab fa-instagram">&nbsp;&nbsp; @meubeuljati</i>
        </div>
      </div>
    </div>
  </div>
  <!-- content selesai -->

  <!-- footer mulai -->
  <footer class="footer">
    <div class="footer-top">
      <div class="footer-left">
        <div class="logo">
          <img src="/static/image/logo/Ajp.png" alt="Logo" />
        </div>
        <div class="alamat">
          <p>
            Jl. Raya Jatinangor No.135, Cikeruh, Kec. Jatinangor, Kabupaten
            Sumedang, Jawa Barat 45363
          </p>
        </div>
        <div class="jam">
          <h2>Jam Operasional</h2>
          <p>Senin - Minggu (08.00-18.00)</p>
        </div>
      </div>
      <div class="footer-info">
        <div class="info">
          <h2>Info</h2>

        </div>
        <div class="isi-info">
          <a href="">Tentang Kami</a>
          <a href="">Kategori</a>
        </div>
      </div>
      <div class="footer-bantuan">
        <div class="bantuan">
          <h2>Bantuan</h2>
        </div>
        <div class="isi-bantuan">
          <a href="">Kontak</a>
          <a href="">FAQ</a>
        </div>
      </div>
      <div class="social">
        <div class="ikuti-social">
          <h2>Ikuti Kami</h2>
        </div>
        <div class="social-media">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>&#169;2024. GHETSIS VILAIN. All rights reserved.</p>
    </div>
  </footer>
  <!-- footer selesai -->
</body>

</html>